@import url('https://fonts.googleapis.com/css?family=Muli');
@import 'variables';

body {
  font-family: Muli, Helvetica, sans-serif;
  color: $main;
  text-align: center;
}

h1 {
  font-family: Futura, "Open Sans", Helvetica, sans-serif;
}

@keyframes mainColor {
  100% {color: $main}
}

@keyframes accentColor {
  100% {color: $accent}
}

a {
  color: $main;
  text-decoration: none;
  -webkit-transition: color $colorChangeTime;
  transition: color $colorChangeTime;
}

a:hover {
  color: $accent;
  -webkit-transition: color $colorChangeTime;
  transition: color $colorChangeTime;
}

#main {
  width: 35%;
  max-width: 400px;
}

#description {
  text-align: justify;
}

#social {
  margin: 0;
}

// Mobile - 320-425px

// custom mobile header sizes
@media only screen and (max-width:425px) {
  $buttonConfig: 'h1' 22px, 'h2' 18px;
  @each $tuple in $buttonConfig {
      #{nth($tuple, 1)} {
          font-size: nth($tuple, 2);
      }
  }
}

body {
  padding: 2% 10%;
}

#social {
  font-size: 35px;
}

#main {
  margin: auto;
  width: 80%;
}

// Tablet - 768px+
@media only screen and (min-width: 768px) {
  #social {
    font-size: 40px;
  }

  #main {
    margin: 80px auto;
    width: 80%;
  }
}