@import url('https://fonts.googleapis.com/css?family=Muli');

$darkgrey: #444;

body {
  font-family: Muli, Helvetica, sans-serif;
  padding: 30px;
  color: $darkgrey;
}

h1 {
  font-family: Futura, "Open Sans", Helvetica, sans-serif;
}