@import url('https://fonts.googleapis.com/css?family=Muli');
@import 'variables';

html, body {
  max-height: 100%;
}

body {
  font-family: Muli, Helvetica, sans-serif;
  color: $main;
  text-align: center;
}

h1 {
  font-family: Futura, "Open Sans", Helvetica, sans-serif;
}

@keyframes mainColor {
  100% {color: $main}
}

@keyframes accentColor {
  100% {color: $accent}
}

a {
  color: $main;
  text-decoration: none;
  -webkit-transition: color $colorChangeTime;
  transition: color $colorChangeTime;
}

a:hover {
  color: $accent;
  -webkit-transition: color $colorChangeTime;
  transition: color $colorChangeTime;
}

#main {
  width: 35%;
  max-width: 400px;
}

#pixelme {
  border-radius: 50%;
}

#description {
  text-align: justify;
}

#social {
  margin: 0;
}

// Mobile - 320-425px

// custom mobile font sizes
@media only screen and (max-width:425px) {

  $buttonConfig: 'h1' 22px, 'h2' 18px;
  @each $tuple in $buttonConfig {
      #{nth($tuple, 1)} {
          font-size: nth($tuple, 2);
      }
  }

  body {
    font-size: 14px;
  }
}

#main {
  margin: 5% auto;
  width: 80%;
}

#pixelme {
  max-height: 20%;
  width: auto;
}

#social {
  font-size: 30px;
}

// Tablet and bigger - 768px+
@media only screen and (min-width: 768px) {
  #social {
    font-size: 40px;
  }
}