@import url("https://fonts.googleapis.com/css?family=Muli");
@import "variables";

html,
body {
  height: 100%;
}

body {
  font-family: Muli, Helvetica, sans-serif;
  color: $main;
  text-align: center;
  margin: 0;

  & * {
    animation: fadeIn 1.5s ease-out 1;
  }
}

h1,
h2 {
  font-family: Futura, "Open Sans", Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: underline;
  transition: color 0.5s;

  &:hover {
    color: $accent;
  }
}

.description {
  margin: $gutter auto;
  width: 550px;
  max-width: 100%;

  @include respond-to("medium") {
    margin: #{$gutter * 2} auto;
  }
}

a {
  color: $main;
  text-decoration: none;
  transition: color $colorChangeTime;

  &:hover {
    color: $accent;
  }
}

#pixelme {
  border-radius: 50%;
}

#description,
.description {
  text-align: justify;
}

.description {
  width: 500px;
}

#social {
  margin: 0;
  letter-spacing: 0.1em;
}

// Mobile - 320-425px

// custom mobile font sizes
body {
  font-size: 80%;
}

#main {
  margin: 50px auto 0;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pixelme {
  max-height: 20%;
  width: auto;
}

.page-title {
  margin-top: map-get($map: $top-margins, $key: "smallest");
}

.title {
  margin: 0;
}

// small to medium screens
@include respond-to("small") {
  body {
    font-size: 100%;
  }

  .page-title {
    margin-top: map-get($map: $top-margins, $key: "small");
  }

  #main {
    max-width: 60%;
  }
}

// Tablets and bigger
@include respond-to("medium") {
  body {
    font-size: 150%;
  }

  #main {
    max-width: 40%;
  }

  #description {
    width: 500px;
  }
}
