@import url('https://fonts.googleapis.com/css?family=Muli');
@import 'variables';

body {
  font-family: Muli, Helvetica, sans-serif;
  color: $main;
  text-align: center;
}

h1, h2 {
  font-family: Futura, "Open Sans", Helvetica, sans-serif;
  margin: 0;
}

a {
	text-decoration: underline;
	transition: color 0.5s;

	&:hover {
		color: $accent;
	}
}

.description {
	margin: $gutter auto;
	width: 550px;
	max-width: 100%;
}

// elements starting transparent
#pixelme,
#header,
#description,
#social {
  opacity: 0;
}

@keyframes mainColor {
  100% {
    color: $main
  }
}

@keyframes accentColor {
  100% {
    color: $accent
  }
}

a {
  color: $main;
  text-decoration: none;
  -webkit-transition: color $colorChangeTime;
  transition: color $colorChangeTime;
}

a:hover {
  color: $accent;
  -webkit-transition: color $colorChangeTime;
  transition: color $colorChangeTime;
}

#pixelme {
  border-radius: 50%;
}

#description,
.description {
  text-align: justify;
}

.description {
  width: 500px;
}

#social {
  margin: 0;
  letter-spacing: .1em;
}

// Mobile - 320-425px

// custom mobile font sizes
body {
  font-size: 80%;
}

#main {
  margin: 50px auto;
  max-width: 80%;
}

#pixelme {
  max-height: 20%;
  width: auto;
}

.name {
  margin-top: 20px;
}

.page-title {
  margin-top: 20px;
}

.title {
  margin: 0;
}

// small to medium screens
@media only screen and (min-width:$smallScreenCutoff) and (max-width: $mediumScreenCutoff) {
  body {
    font-size: 100%;
  }

  #main {
    max-width: 60%;
  }
}

// Tablets and bigger
@media only screen and (min-width: $mediumScreenCutoff) {
  body {
    font-size: 120%;
  }

  #main {
    max-width: 40%;
  }
}