@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Patua One");
@import "variables";

::selection {
  background: $accentHover;
}

h1,
h2,
#social {
  font-family: "Patua One", "Open Sans", Helvetica, serif;
  margin: 0;
}

body {
  font-family: Muli, Helvetica, sans-serif;
  color: $main;
  text-align: center;
  margin: 0;

  & * {
    animation: fadeIn 1.5s ease-out 1;
  }
}

h1,
h2,
h3 {
  font-family: Futura, "Open Sans", Helvetica, sans-serif;
  margin: 0;
}

.content-container {
  margin: 5% auto;
  width: 80%;

  @include respond-to("medium") {
    width: 700px;
    margin: 50px auto;
  }

  @include respond-to("large") {
    width: 1000px;
    margin: 50px auto;
  }

  &--fit {
    @include respond-to("medium") {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: 0 auto;

      & > *:first-child {
        margin-top: -40px;
      }
    }
  }
}

.navbar {
  width: 100%;
  text-align: left;

  &--top {
    margin-bottom: $gutter;
  }

  &--bottom {
    margin-top: $gutter;
  }
}

.nav-link {
  font-size: 120%;
  margin: 0;
}

a {
  color: $main;
  text-decoration: none;
  transition: color $colorChangeTime;
}

a.link {
  color: $main;
  text-decoration: none;
  background-color: $accent;
  transition: all 0.5s;

  &:hover {
    background-color: $accentHover;
  }
}

.description {
  margin: $gutter auto;
  width: 550px;
  max-width: 100%;

  @include respond-to("medium") {
    margin: #{$gutter * 2} auto;
  }
}

#pixelme {
  border-radius: 50%;
}

#description,
.description {
  text-align: justify;
}

.description {
  width: 500px;
}

// Mobile - 320-425px

// custom mobile font sizes
body {
  font-size: 80%;
}

#main {
  margin: 50px auto 0;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pixelme {
  max-height: 20%;
  width: auto;
}

.page-title {
  margin-top: map-get($map: $top-margins, $key: "smallest");
}

.page-subtitle {
  font-size: 110%;
  font-weight: normal;
  font-style: italic;
}

.title {
  margin: 0;
}

// small to medium screens
@include respond-to("small") {
  body {
    font-size: 100%;
  }

  .page-title {
    margin-top: map-get($map: $top-margins, $key: "small");
  }

  #main {
    max-width: 60%;
  }
}

// Tablets and bigger
@include respond-to("medium") {
  body {
    font-size: 150%;
  }

  #main {
    max-width: 40%;
  }

  #description {
    width: 500px;
  }
}
