@import "variables";
@import "global";

html,
body {
  height: 100%;
}

a.link {
  color: $main;
  text-decoration: none;
  background-color: rgba($accent, 0.5);
  transition: all 0.5s;

  &:hover {
    background-color: $accent;
    color: #fff;
  }
}

.description {
  margin: $gutter auto;
  width: 550px;
  max-width: 100%;
}

a.social {
  color: $main;
  text-decoration: none;
  transition: color $colorChangeTime;

  &:hover {
    color: $accent;
    -webkit-transition: color $colorChangeTime;
    transition: color $colorChangeTime;
  }
}

#pixelme {
  border-radius: 50%;
}

#description,
.description {
  text-align: justify;
}

.description {
  width: 500px;
}

#social {
  margin: 0;
  letter-spacing: 0.2em;
  font-size: 120%;
}

// Mobile
#main {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: " ";
    display: block;
    height: 40px;
  }
}

#pixelme {
  max-height: 20%;
  width: auto;
}

.name {
  font-size: 170%;
  margin-top: map-get($top-margins, "smallest");
}

.title {
  font-size: 120%;
  margin: 0;
}

// small screen or bigger
@include respond-to("small") {
  body {
    font-size: 120%;
  }

  #main {
    max-width: 40%;

    &::before {
      content: " ";
      display: block;
      height: 100px;
    }
  }
}

// Tablets and bigger
@include respond-to("medium") {
  body {
    font-size: 150%;
  }

  #main {
    max-width: 40%;

    &::before {
      content: " ";
      display: block;
      height: 100px;
    }
  }

  #description {
    width: 500px;
  }
}
