@import "variables";
@import "global";

html,
body {
  height: 100%;
}

.description {
  margin: $gutter auto;
  width: 550px;
  max-width: 100%;
}

a.social {
  color: $main;
  text-decoration: none;
  transition: color $colorChangeTime;

  &:hover {
    color: $accentHover;
    -webkit-transition: color $colorChangeTime;
    transition: color $colorChangeTime;
  }
}

#headshot {
  width: 300px;
  border-radius: 50%;
}

#description,
.description {
  text-align: justify;
}

.description {
  width: 500px;
}

#social {
  margin: 0;
  letter-spacing: 0.2em;
  font-size: 120%;
}

.social-cta {
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0;
  margin-bottom: $gutter;
}

// Mobile
#main {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 170%;
  margin-top: map-get($top-margins, "smallest");
}

.title {
  font-size: 120%;
  margin: 0;
  font-weight: normal;
  font-style: italic;
}

// small screen or bigger
@include respond-to("small") {
  body {
    font-size: 120%;
  }

  #main {
    max-width: 40%;
  }
}

// Tablets and bigger
@include respond-to("medium") {
  body {
    font-size: 150%;
  }

  #main {
    max-width: 40%;
  }

  #description {
    width: 500px;
  }
}
